<div{{ attributes }}>
    <input type="text" data-model="query" placeholder="Nom de la salle..." class="form-control" />
    <pre>{{ dump(rooms) }}</pre>
    
    <div class="">
        {% set rooms = this.rooms %}
        {% if rooms|length > 0 %}
            {% for room in rooms %}
                <h3>{{ room.name }}</h3>
                <p>Capacité : {{ room.capacity }}</p>
                {# Exemple de lien vers la fiche salle, à adapter selon ta route : #}
                <a href="{{ path('room_view', { 'id': room.id }) }}">Voir la salle</a>
                <hr>
            {% endfor %}
        {% else %}
            <p>Aucune salle trouvée.</p>
        {% endif %}
    </div>
</div>

