<div{{attributes}}>

	<input type="text" data-model="query" class="grow" placeholder="Tapez un mot-clé..."/>

	<select data-model="option" id="">

		<option value="">Les options</option>
		{% set options = this.options %}

		{% for item in options %}
			<option value={{item.name}}>{{item.name}}</option>
		{% endfor %}


	</select>

	<select data-model="equipment" id="">

		<option value="">Les equipements</option>
		{% set equipments = this.equipments %}

		{% for item in equipments %}
			<option value={{item.name}}>{{item.name}}</option>
		{% endfor %}


	</select>

	<select data-model="location" id="">

		<option value="">La location</option>
		{% set locations = this.locations %}

		{% for item in locations %}
			<option value={{item.department}}>{{item.department}}</option>
		{% endfor %}


	</select>


	{% set rooms = this.rooms %}
	{% if rooms|length > 0 %}

		{% for item in rooms %}
			{{ dump(item) }}
		{% endfor %}
	{% else %}

		<p>Pas de resultat</p>
	{% endif %}
</div>
